# Terraform
terraform/.terraform
terraform/terraform.tfstate*
terraform/terraform.plan
terraform/keys/*

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
dependency-reduced-pom.xml
