repos:
- repo: git://github.com/pre-commit/pre-commit-hooks
  rev: v1.2.3
  hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: check-executables-have-shebangs
- repo: git://github.com/antonbabenko/pre-commit-terraform
  rev: v1.6.0
  hooks:
    - id: terraform_fmt
    - id: terraform_validate_with_variables
